---
---

@import "{{ site.theme }}";

header {
  background-color: transparent;
  border: 0;
  text-align: center;
}

header img {
  border: 0;
}

header a {
  color: #009cc3;
}

header .header a {
  font-size: 12px;
}

a {
  color: #009cc3;
}

footer p small {
  font-size: 11px;
}

img {
  border: solid 1px #009cc3;
}
