---
---

@import "{{ site.theme }}";

header {
  background-color: transparent;
  border: 0;
  text-align: center;
}

header img {
  border: 0;
}

header a {
  color: #5DBCEA;
}

header .header a {
  font-size: 12px;
}

a {
  color: #5DBCEA;
}

footer p small {
  font-size: 11px;
}

img {
  border: solid 1px #5DBCEA;
  max-width: 100%;
  height: auto;
  display: block;
}

p img {
  border: solid 1px #5DBCEA;
}
